.cadre{
    padding-top: 44px;
   }
   
   ion-card{
       border-radius: 20px;
   }
   .bout{
       display: flex;
       justify-content: center;
       padding-top:8px;
   }
   
   ion-button{
       --border-radius: 30px;
       width: 250px;
       height: 46px;
   }
   
   ion-content{
    --background:none;
    background-image: url('../../../assets/images/connexion.png');
    background-repeat: no-repeat;
    // background-color: rgb(94, 87, 175);
    // background-position: bottom right;
    background-size:cover;
    justify-content: center;
    
  }


    ion-card-content{
        padding-top: 41px;
        padding-bottom: 28px;
        box-shadow: 0px 6px 5px rgb(53, 18, 18);
     }
   
     
     img{
       position: absolute;
       z-index: -1;
       top: 263px;
     }
   
   
   ion-input{
       font-size: larger;
   }

   ion-icon{
        font-size: 32px;
        position: absolute;
        top: 58px;
        left: 14px;
        z-index: 2;
        color: #1c0995;
   }

   ion-card-title{
    text-align: center;
    color: darkblue;
    font-family: fantasy;
    font-size: xx-large;
  }