<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <p>Bienvenue sur le site de tourisme de notre magnifique destination ! Que vous soyez un voyageur passionné à la recherche d'aventures exaltantes, un explorateur curieux désireux de découvrir de nouveaux horizon,
   vous êtes au bon endroit.</p>
  <div class="monbutton">
    <ion-button shape="round" [routerLink]="['/connexion']"  >COMMENCONS</ion-button>
  </div>
</ion-content>

